In [1]:
#É importante quando é preciso fazer uma regressao 
#Tornar variaveis independentes em variaveis numericas
# Missing Value
import pandas as pd

In [2]:
#Criacao da tabela
df=pd.DataFrame([["sim",1,1],["sim",1,2],["nao",2,4],["talvez",2,4]], columns=['GDP','GDPPC','Employ'])

In [3]:
#Vizualizacao da tabela
df

      GDP  GDPPC  Employ
0     sim      1       1
1     sim      1       2
2     nao      2       4
3  talvez      2       4

In [4]:
#Tornar os strings em numericos 
dfdummy=pd.get_dummies(df, prefix=['GDP'])

In [5]:
#Vizualizar as variaveis dummuies
dfdummy

   GDPPC  Employ  GDP_nao  GDP_sim  GDP_talvez
0      1       1        0        1           0
1      1       2        0        1           0
2      2       4        1        0           0
3      2       4        0        0           1