1)Verify if a value is an integer

In [2]:
a=2

In [3]:
type(a)

int

2) Verify if a value is even

In [2]:
a=3

In [3]:
a % 2 == 0

False

3) Insert two numbers. Is the first is bigger than the second?

In [1]:
num1 = input("Primeiro numero")

Primeiro numero10

In [2]:
type(num1)

str

In [3]:
num1=int(num1)

In [4]:
num2 = int(input("Segundo numero"))

Segundo numero5

In [5]:
num1>num2

True

4) Verify if one value is multiple of another

In [1]:
num3 =2
num4 =4

In [3]:
num3 % num4 == 0 or num4 % num3 == 0

True

5) Calculate the interest earn by an investor that invested an amount of capital of 200 during three years with an interest rate of 3%. (I=P*R*T)

In [4]:
r=0.03
p=200
t=3

In [5]:
i=p*r*t

In [6]:
print(i)

18.0

6) Capital that an investor obtained after investing an amount of capital of 200 during three years with an interest rate of 3%. (Compound interest)

In [7]:
p=0.03
r=200
t=3

In [10]:
m=r*(1+p)**t

In [9]:
print(m)

218.5454

7) Calculate your BMI (Body Mass Index)

In [15]:
M=75
al=1.74
k=(M)/(al**2)

In [16]:
print(k)

24.772096710265558

8) Calculate the Golden ration

In [1]:
gr=(1+5**(1/2))/2

In [2]:
print(gr)

1.618033988749895

In [3]:
import math
grr=(1+ math.sqrt(5))/2

In [4]:
print(grr)

1.618033988749895

9) Calculate the NPV (Net present value) of an investment, considering an initial investment of 10000, the following Cashflows 2000,3000, 4000, 4000 and 5000 and a discount rate of 10%.

In [ ]:
I=10000
rate=0.1
CF1=2000
CF2=3000
CF3=4000
CF4=4000
CF5=5000

NPv= ((CF1/1+rate)).............

In [18]:
print(npv)

-9999.8

In [21]:
npv1=((3000)%(1+0.10))-10000

In [22]:
print(npv1)

-9999.7

R:3139

10) Ask the user to insert name and age. Calculate the birth year. Print a result saying the 'this person was born in.'

In [ ]:
age="27"
name="Sergio"
dataNascimento

In [6]:
from datatime import date
#age=input("My birthday is in ")
a=27
print(a)
today=data.today ()
today.year-int(a)

ModuleNotFoundError: No module named 'datatime'

In [7]:
birthday=str("My birthday is in ")

In [8]:
print(birthday)

My birthday is in

11) Ask the user to insert forenames, surnames. Create a new variable (name) with your complete name.

In [9]:
d=str(input("name "))

name Sergio Andre Silva Costa

In [10]:
len(d)

24

In [12]:
d.upper()

'SERGIO ANDRE SILVA COSTA'

In [17]:
d.replace("sergio","SERGIO")

'Sergio Andre Silva Costa'

In [13]:
d.lower()

'sergio andre silva costa'

In [ ]:
a.replace()

12) Use the following method to show in which character appears the first "da"

In [15]:
str.find(sub,start,end)

NameError: name 'sub' is not defined