
## LabDS01 ##


The following dataset includes information about several countries. This information was collected by the world bank (https://data.worldbank.org/). Data corresponds to 2016.

`
dataFile="https://raw.githubusercontent.com/masterfloss/data/main/worlddata2016.xlsx"
df=pd.read_excel(dataFile)
`

# 1. Business Understanding

Purpose: Analyse data and extract knowledge

Observation: Country

In [1]:
#Importar bibliotecas para analisar os dados 
import pandas as pd
import numpy as np
file="https://raw.githubusercontent.com/masterfloss/data/main/worlddata2016.xlsx"
df=pd.read_excel(file)

In [2]:
#Dados que nos fornecem informacoes dos determinados paises
df.head()

,Unnamed: 0,Country Name,Indicator Name,2016
0,0,Afghanistan,Access to clean fuels and technologies for coo...,32.44000
1,1,Afghanistan,Access to electricity (% of population),97.70000
2,2,Afghanistan,"Access to electricity, rural (% of rural popul...",97.09936
3,3,Afghanistan,"Access to electricity, urban (% of urban popul...",99.50000
4,4,Afghanistan,Account ownership at a financial institution o...,NaN

In [3]:
#Verificar os tipos de dados
df.dtypes

Unnamed: 0          int64
Country Name       object
Indicator Name     object
2016              float64
dtype: object

# 2. Data Undertanding

* Discuss the data and purposes
* What are the main limitations?

In [4]:
df.dtypes

Unnamed: 0          int64
Country Name       object
Indicator Name     object
2016              float64
dtype: object

In [5]:
#Permite fazer o cruzamento de variaveis 
df1= pd.pivot_table(df, values='2016', index ['Country Name'], columns= ['Indicator Name'])

SyntaxError: positional argument follows keyword argument (<ipython-input-5-366558c3ecf2>, line 2)

In [ ]:
#Verificar resultados
df1.head()

In [ ]:
#Ver o numero de variaveis
df1.shape

In [ ]:
#Mudar o nome para country
df1.index.name = 'Country'

# 3. Data Preparation

* Converting data to numeric
* Missing Values Imputation
* Normalization
* Variable Dummification
* Data balancing
* Pivot date in order to convert the values "Indicator Name" into comuns 
* Remove all columns that have no values, df1[columns].sum()==0
* Remove all columns that have more than 210 observations, df1[columns].count()<210

In [ ]:
#Eliminar colunas que nao tem valores - 
#Verificar se a soma dos valores daquela coluna é 0
#Os que sao 0 sao eliminados
df2=df1
for columns in df2:
    if(df2[columns].sum()==0):
        df1=df2.drop([columns],axis=1)

In [ ]:
#Converter todos os zeros em nan
df2=df2.replace(0,np,nan)

In [ ]:
#Remover todas as colunas que tem mais que 210 observacoes
for column1 un df2:
    if df2[column].count()<210
    df2=df2.drop([column1],axis=1)

In [ ]:
#Vou ficar com um total de 18 colunas
df2.shape

In [ ]:
#Ver os dados 
df2.head()

In [ ]:
#Reomver todos os na
df2=df2.dropna()
df2.shape

In [ ]:
#Criar uma lista com todos os nomes de paises 
countriesList=type(list(df2.index))

In [ ]:
#Fazer analise fatorial
#Fazer Standardizacao 
from sklearn.prepocessing import StandardScaler
df2St=StandardScaler().fit_transform(df2)

In [ ]:
#Fazer PCA com Sklearn
from sklearn.decomposition import PCA

In [ ]:
#Modelo com 4 componentes 
pcaModel=PCA(n_components=4)

In [ ]:
#Guardar todas as features do PCA
features_pca=pcaModel.fit_transform(df2St)

In [ ]:
#Ver quais sao todas as variaveis que tenho
colList=[]
for coll in df2:
    colList.append(col1)
colList

In [ ]:
#Transposiçao scores
scores=pcaModel.components_.T

In [ ]:
#Colocar scores num dataframe
dfscores=pd.Dataframe(scores)

In [ ]:
#Crio nova variavel 
dfscores['Variables']=colList

In [ ]:
dfscores

In [ ]:
#Transformar variavel num index
dfscores=dfscores.set_index(['Variables'])

In [ ]:
def selectColors(val):
    if (val > 0.3 or val <- 0.3)
        color = 'red'
    else:
        color= 'black'
    return 'color %s' % color

df_pintado = dfscores.style.applymap(selectColor)
df_pintado