**LabML01(KNN)**

The k-nearest neighbors (KNN) is  easy-to-implement supervised machine learning algorithm that can be used to solve  classification. The KNN algorithm uses 'feature similarity' to predict the values of any new data points. This means that the new point is assigned a value based on how closely it resembles the points in the training set.
k in kNN algorithm represents the number of nearest neighbor points which are voting for the new test data’s class.

K nearest neighbors or KNN Algorithm is a simple algorithm which uses the entire dataset in its training phase. Whenever a prediction is required for an unseen data instance, it searches through the entire training dataset for k-most similar instances and the data with the most similar instance is finally returned as the prediction.

The similarity of the new point and the points in the training set is based on a distance measure. 

Add comments into the following code.

In [1]:
#Invocar Pandas - Trabalha com estruturas bidimensionais - Data frames 
import pandas as pd

In [2]:
# Guardar um string na variavel url
url='https://raw.githubusercontent.com/masterfloss/data/main/jogadores.csv'
#Invocar uma funçao csv e criar dataframe - Separador é ;
# Se nao tiver o separador fica tudo misturado
df=pd.read_csv(url,sep=";")

In [3]:
# Selecionar as linhas do dataframe - Head sao as primeiras 5 linhas
# Objetivo os dados que entretanto foram imputados 
df.head()

   Epoca  Idade  Altura  Minutos  Ser Transferido  Valor de Mercado Posicao
0   2015     27     1.9     4050                0              18.0      GK
1   2016     28     1.9     4126                0              14.0      GK
2   2017     29     1.9     3420                0              16.0      GK
3   2018     30     1.9     5100                1              16.0      GK
4   2019     31     1.9     3330                0              20.0      GK

In [4]:
# Criar uma nova tabela ou dataframe com base no df inicial
X1=df.loc[:,['Idade','Altura','Minutos','Valor de Mercado']]
# Ignoramos duas colunas - Ser transferido e da posiçao
X1.head()

   Idade  Altura  Minutos  Valor de Mercado
0     27     1.9     4050              18.0
1     28     1.9     4126              14.0
2     29     1.9     3420              16.0
3     30     1.9     5100              16.0
4     31     1.9     3330              20.0

In [5]:
# Se utilizassemos a Normalizaçao - Vou alterar os valores tendo 
#em conta os valores maximos e minimos

# Se utilizassemos a Standardizaçao - Vou subtrair o valor a media
# e dividir pelo desvio padrao - Valores vao andar em torno 
#dessa media - Evitar que tenhamos valores muito dispares 

# Scaling - Por em escalas identicas

from sklearn.preprocessing import StandardScaler
standardizer=StandardScaler()

#X1Stand=standardizer.fit_transform(X1)
scaler=standardizer.fit(X1)

In [6]:
# Array que guarda os valores standardizados
X1Stand=scaler.transform(X1)

In [7]:
type(X1Stand)

numpy.ndarray

In [8]:
X1.head()

   Idade  Altura  Minutos  Valor de Mercado
0     27     1.9     4050              18.0
1     28     1.9     4126              14.0
2     29     1.9     3420              16.0
3     30     1.9     5100              16.0
4     31     1.9     3330              20.0

In [9]:
# Obtençao de dummies - Converter Strings em dados numericos 
# Criar variaveis dummy
posi=pd.get_dummies(df['Posicao'], prefix='pos')
posi.head()

   pos_ATA  pos_DEF  pos_GK  pos_MED
0        0        0       1        0
1        0        0       1        0
2        0        0       1        0
3        0        0       1        0
4        0        0       1        0

In [10]:
# Juntar um conjuto de estruturas de dados
# Juntar todas as colunas na nova estrutura
XArray=zip(posi['pos_ATA'],posi['pos_DEF'],posi['pos_GK'],posi['pos_MED'],X1Stand[:,0],X1Stand[:,1],X1Stand[:,2],X1Stand[:,3])

In [11]:
# Converter o objeto zip numa lista
features=list(XArray)

In [12]:
# Invocar o modulo sklearn.neighbors e dentro do modulo importar 
# o classificador KNeighborsClassifier
from sklearn.neighbors import KNeighborsClassifier

# Criar o modelo - Vou utilizar KNeighborsClassifier com 3 vizinhos
# que é uma distancia
model = KNeighborsClassifier(n_neighbors=3)

# Fazer o fit do modelo - Da informaçao como foi feito o processo 
model.fit(features,df['Ser Transferido'])

KNeighborsClassifier(n_neighbors=3)

In [13]:
# Tendo em conta determinadas caracteristicas vai ser ou nao transferido
import numpy as np
# Goalkeeper, 30 years old, 1.90 m, 5100 minutes, market Value=16 ?
newdata=np.array([[30,1.90,5100,16]])
#Utilizei o scaler para standardizar os valores
newvalues=scaler.transform(newdata)
newvalues

array([[3.0697833 , 1.43018826, 3.02329407, 0.89135565]])

In [14]:
#Apresentaçao do array obtido
list(newvalues)

[array([3.0697833 , 1.43018826, 3.02329407, 0.89135565])]

In [15]:
# Concatenaçao dos valores relacionados com a posiçao
teste=np.concatenate((np.array([[0,0,1,0]]),newvalues), axis=1)

In [16]:
#Apresentaçao do array obtido
teste

array([[0.        , 0.        , 1.        , 0.        , 3.0697833 ,
        1.43018826, 3.02329407, 0.89135565]])

In [17]:
#Buscar o modelo e utilizar o metodo predict
#Utilizar o modelo em novos dados
predicted = model.predict(teste) 
# Ele nao vai ser transferido
print(predicted)

[0]

Now let split the sample in training and test...

In [18]:
#Dividir a amostra em treino e teste
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features, df['Ser Transferido'], test_size=0.3)

In [19]:
#Estimar o modelo com base nos dados de treino
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=5)
#Utilizar os valores de teste para fazer a previsao
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [20]:
#Calcular o nivel de precisao 
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.6551724137931034