In [1]:
# Missing Value

import pandas as pd

In [2]:
#Dataframe a partir de listas de listas
#Colocar tudo em colunas
df=pd.DataFrame([["1","2","s"],["1","2",2],["1","2",4],["1","2",4]], columns=['GDP','GDPPC','Employ'])

In [3]:
#Ver que tipos de dados temos
df.dtypes

GDP       object
GDPPC     object
Employ    object
dtype: object

In [4]:
#Converter os dados em numericos
df['GDP']=pd.to_numeric(df['GDP'], errors='coerce')

In [5]:
#Confirmar como os dados estao numericos
df['GDP']

0    1
1    1
2    1
3    1
Name: GDP, dtype: int64

In [6]:
#Confirmacao da alteracao dos dados
df.dtypes

GDP        int64
GDPPC     object
Employ    object
dtype: object

In [7]:
#Listas das colunas todas
for column in df:
    print(column)

GDP
GDPPC
Employ

In [8]:
#Converter os dados para numeircos
for column in df:
    df[column]=pd.to_numeric(df[column], errors='coerce')

In [9]:
#Confirmacao da alteracao dos dados
df.dtypes

GDP         int64
GDPPC       int64
Employ    float64
dtype: object

In [10]:
#Tenho na tabela um valor que nao existe
df

   GDP  GDPPC  Employ
0    1      2     NaN
1    1      2     2.0
2    1      2     4.0
3    1      2     4.0

In [11]:
# alterar nan por 0 - usar numpy para fazer essa alteracao
from numpy import nan
df[['GDP','GDPPC','Employ']] = df[['GDP','GDPPC','Employ']].replace(nan, 0)

In [12]:
#Verificar alteracao feita anteriormente
df

   GDP  GDPPC  Employ
0    1      2     0.0
1    1      2     2.0
2    1      2     4.0
3    1      2     4.0

In [13]:
# Eliminar uma linha
df.dropna(inplace=True)

In [14]:
#Verificar as altera√ßoes feitas 
df

   GDP  GDPPC  Employ
0    1      2     0.0
1    1      2     2.0
2    1      2     4.0
3    1      2     4.0

In [15]:
# Substituir pela media
#Substituir na pela media
df['Employ'].fillna(value=df['Employ'].mean(), inplace=True)

In [16]:
#Verificar alteracoes feitas
df

   GDP  GDPPC  Employ
0    1      2     0.0
1    1      2     2.0
2    1      2     4.0
3    1      2     4.0

In [17]:
# Substituir pela mediana
df['Employ'].fillna(value=df['Employ'].median(), inplace=True)

In [18]:
#Verificar os dados
df

   GDP  GDPPC  Employ
0    1      2     0.0
1    1      2     2.0
2    1      2     4.0
3    1      2     4.0

In [19]:
# Remove all columns that have no values, df1[columns].sum()==0

In [20]:
# Remove all columns that have more than 210 observations, df1[columns].count()<210
for column in df:
    if (df[column].count()<4):
        drop()